<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           					http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-4.0.xsd
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
							http://www.springframework.org/schema/aop
							http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
							http://www.springframework.org/schema/util
							http://www.springframework.org/schema/util/spring-util-4.0.xsd
							http://www.springframework.org/schema/task
							http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	<bean id="beanMapper" class="org.dozer.spring.DozerBeanMapperFactoryBean"
		scope="singleton">
<!-- 		<property name="mappingFiles" value="classpath*:/dozer/*Mapping.xml"/> -->
			<property name="mappingFiles">
				<list>
					<value>dozer/dozer-global-configuration.xml</value>
					<value>dozer/*Mapping.xml</value>
				</list>
			</property>
		<property name="customConvertersWithId">
			<map>
<!-- 				<entry key="paymodeConvert" value-ref="PaymodeConverter"/> -->
				<entry key="tableConvert" value-ref="TableConverter"/>
			</map>
		</property>
	</bean>
	
	<util:list id="filters" list-class="java.util.LinkedList" value-type="com.rci.service.filter.CalculateFilter">
		<bean class="com.rci.service.filter.CashFilter"></bean>
		<bean class="com.rci.service.filter.DPTGFilter"></bean>
		<bean class="com.rci.service.filter.BDNMFilter"></bean>
		<bean class="com.rci.service.filter.MTFilter"></bean>
		<bean class="com.rci.service.filter.ELEFilter"></bean>
		<bean class="com.rci.service.filter.TDDFilter"></bean>
		<bean class="com.rci.service.filter.MTWMFilter"></bean>
		<bean class="com.rci.service.filter.FreeFilter" ></bean>
		<bean class="com.rci.service.filter.MTSuperFilter"></bean>
		<bean class="com.rci.service.filter.DPSHFilter"></bean>
		<bean class="com.rci.service.filter.AliPayFilter"></bean>
		<bean class="com.rci.service.filter.WMCRFilter"></bean>
		<bean class="com.rci.service.filter.PLQFilter"></bean>
	</util:list>
	
	<bean id="springcontext" class="com.rci.tools.SpringUtils"></bean>
	
	<task:scheduler id="dataFetchScheduler" pool-size="10"/>
	<task:executor id="executor" pool-size="5" />
	<task:annotation-driven scheduler="dataFetchScheduler" mode="proxy" executor="executor"/>
	
	<!-- 将fetchDataQuartz注入到job中 -->
<!-- 	<bean id="fetchDataJobs" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> -->
<!-- 		<property name="targetObject" ref="fetchDataJob"/> -->
<!-- 		<property name="targetMethod" value="fetchData"/> -->
<!-- 		<property name="concurrent" value="false"/> -->
<!-- 	</bean> -->
<!-- 	<bean id="statusMonitorJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> -->
<!-- 		<property name="targetObject" ref="statusMonitor"/> -->
<!-- 		<property name="targetMethod" value="monitorScheme"/> -->
<!-- 		<property name="concurrent" value="false"/> -->
<!-- 	</bean> -->

	<!-- 将job注入到定时触发器 -->
	<!-- 在每天早上10点开始到23:59分结束每10分钟触发一次 -->
<!-- 	<bean id="fetchTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> -->
<!-- 		<property name="jobDetail" ref="fetchDataJobs"/> -->
<!-- 		<property name="cronExpression" value="0 0/10 10-23 * * ?"/> -->
<!-- 	</bean> -->
	<!-- 在每天早上9点开始每10分钟触发一次直到10点 -->
<!-- 	<bean id="monitorTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> -->
<!-- 		<property name="jobDetail" ref="statusMonitorJob"/> -->
<!-- 		<property name="cronExpression" value="0 0/10 9 * * ?"/> -->
<!-- 	</bean> -->
	<!-- 将触发器注入任务工程 -->
<!-- 	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> -->
<!-- 		<property name="triggers"> -->
<!-- 			<list> -->
<!-- 				<ref bean="fetchTrigger"/> -->
<!-- 				<ref bean="monitorTrigger"/> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	
</beans>