<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           					http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-4.0.xsd
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
							http://www.springframework.org/schema/aop
							http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
							http://www.springframework.org/schema/util
							http://www.springframework.org/schema/util/spring-util-4.0.xsd
							http://www.springframework.org/schema/task
							http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	<bean id="beanMapper" class="org.dozer.spring.DozerBeanMapperFactoryBean"
		scope="singleton">
<!-- 		<property name="mappingFiles" value="classpath*:/dozer/*Mapping.xml"/> -->
			<property name="mappingFiles">
				<list>
					<value>dozer/dozer-global-configuration.xml</value>
					<value>dozer/*Mapping.xml</value>
				</list>
			</property>
		<property name="customConvertersWithId">
			<map>
<!-- 				<entry key="paymodeConvert" value-ref="PaymodeConverter"/> -->
				<entry key="tableConvert" value-ref="TableConverter"/>
			</map>
		</property>
	</bean>
	
	<bean id="springcontext" class="com.rci.tools.SpringUtils"></bean>
	
	<bean id="AliPayFilter" class="com.rci.service.calculatecenter.filter.impl.AliPayFilter" scope="prototype">
		<property name="index" value="1"/>
	</bean>
	<bean id="BDNMDDFFilter" class="com.rci.service.calculatecenter.filter.impl.BDNMDDFFilter" scope="prototype">
		<property name="index" value="2"/>
	</bean>
	<bean id="BDNMFilter" class="com.rci.service.calculatecenter.filter.impl.BDNMFilter" scope="prototype">
		<property name="index" value="3"/>
	</bean>
	<bean id="BDWMFilter" class="com.rci.service.calculatecenter.filter.impl.BDWMFilter" scope="prototype">
		<property name="index" value="4"/>
	</bean>
	<bean id="CashFilter" class="com.rci.service.calculatecenter.filter.impl.CashFilter" scope="prototype">
		<property name="index" value="5"/>
	</bean>
	<bean id="DZDPshFilter" class="com.rci.service.calculatecenter.filter.impl.DZDPshFilter" scope="prototype">
		<property name="index" value="6"/>
	</bean>
	<bean id="DZDPtgFilter" class="com.rci.service.calculatecenter.filter.impl.DZDPtgFilter" scope="prototype">
		<property name="index" value="7"/>
	</bean>
	<bean id="MTcqFilter" class="com.rci.service.calculatecenter.filter.impl.MTcqFilter" scope="prototype">
		<property name="index" value="8"/>
	</bean>
	<bean id="MTtgFilter" class="com.rci.service.calculatecenter.filter.impl.MTtgFilter" scope="prototype">
		<property name="index" value="9"/>
	</bean>
	<bean id="MTWMFilter" class="com.rci.service.calculatecenter.filter.impl.MTWMFilter" scope="prototype">
		<property name="index" value="10"/>
	</bean>
	<bean id="PLQFilter" class="com.rci.service.calculatecenter.filter.impl.PLQFilter" scope="prototype">
		<property name="index" value="11"/>
	</bean>
	<bean id="POSFilter" class="com.rci.service.calculatecenter.filter.impl.POSFilter" scope="prototype">
		<property name="index" value="12"/>
	</bean>
	<bean id="TDDFilter" class="com.rci.service.calculatecenter.filter.impl.TDDFilter" scope="prototype">
		<property name="index" value="13"/>
	</bean>
<!-- 	<bean id="WMCRFilter" class="com.rci.service.calculatecenter.filter.impl.WMCRFilter" scope="prototype"> -->
<!-- 		<property name="index" value="14"/> -->
<!-- 	</bean> -->
	<bean id="ELEFilter" class="com.rci.service.calculatecenter.filter.impl.ELEFilter" scope="prototype">
		<property name="index" value="15"/>
	</bean>
	<bean id="OffLineFilter" class="com.rci.service.calculatecenter.filter.impl.OffLineFreeFilter" scope="prototype">
		<property name="index" value="16"/>
	</bean>
	<bean id="UnknowFilter" class="com.rci.service.calculatecenter.filter.impl.UnknowFilter" scope="prototype">
		<property name="index" value="17"/>
	</bean>
	<bean id="PreserveFilter" class="com.rci.service.calculatecenter.filter.impl.PreserveFilter" scope="prototype">
		<property name="index" value="18"/>
	</bean>
	
</beans>